#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  text-align: left;
}

li {
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
  color: #1a1a1a;
}

/*li:hover {*/
/*  background-color: #535bf2;*/
/*}*/

/*.checkbox {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  cursor: pointer;*/
/*  gap: 10px;*/
/*  width: 100%;*/
/*  height: 20px;*/
/*  border-radius: 4px;*/
/*  position: relative;*/
/*  flex-shrink: 0;*/
/*}*/